@font-face {
    font-family: Barlow-Condensed;
    src: url(./font/BarlowCondensed-Regular.ttf);
}

body {
    font-family: Barlow-Condensed !important;
    background-color: rgb(38,38,38);
}

header {
    margin-top: 5px;
    font-family: Barlow-Condensed;
    text-align: center;
    padding-right: 12px;
    box-shadow: 0px 5px 5px #888888;
}

header button {
    border: 0px;
    border-radius: 10px;
    width: 100%;
    height: 60%;
    margin-top: 6px;
}

.titleEscape {
    margin-top: 50px;
    text-align: center;
    font-size: 5em;
}

p {
    text-align: center;
    width: 80%;
    margin: auto;
}

.foto-principal {
    background-image: url('/img/imagen1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.tarjetas{
    background-image: url('/img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkblue;
    padding: 2rem;
}
.tarjeta{
    width: 35rem;
    padding: 1rem;
    background-color: blanchedalmond;
    margin-top: 1rem;

}
.titulo{
    display: flex;
    justify-content: center;
    /* align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    backdrop-filter: blur(10px); */

}
.titulo h2{
    font-size: 1.5em;
    font-weight: bold;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: rgb(38, 38, 228);
    color: white;
    border: 0px;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
}
.texto{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.foto-tarjetas{
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

/* ---------------HEADER------------------ */
.logo{
    padding: 50px;
    position: absolute;
    top: 10px;
    left: 20px;
    color: black;
    font-weight: bold;
    font-size: 5rem;
}

#imagen-inicio{
    max-width: 1000px;
}

#imagen-inicio img{
    width: 100%;
}

.menu-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    font-size: 2.5rem;
    padding: 40px 10px;
    background-color: #7e80f3;
}

.menu-nav ul{
    list-style: none;
    text-align: center;
}

.menu-nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transition: 1s;
    position: relative;
    padding: 8px;
}

.menu-nav li:hover a{
    color: white;
    opacity: 0.5;
    transition: 1s;
}

.menu-nav a::after{
    content: "";
    display: inline-block;
    border-bottom: 2px solid white;
    width: 1%;
    opacity: 0;
    transition: 0.8s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-nav a:hover::after{
    width: 100%;
    opacity: 1;
    transition: 0.8s;
}

@media (min-width: 1200px){

    .caja-todo-contenido{
        width: 70%;
    }

    .logo{
        right: 6%;
        left: 0;
        z-index: 999;
        text-align: end;
    }

    .menu-nav{
        background-color: transparent;
        top: 0;
        width: 60%;
    }

    .menu-nav a{
        color: black;
        font-weight: bold;
        font-size: 3.5rem;
    }

    .menu-nav li:hover a{
        color: black;
        opacity: 1;
    }

    .menu-nav a::after{
        color: black;
    }

    .menu-nav a::after{
        border-bottom: 3px solid black;
    }

    .menu-nav a:hover::after{
        border-bottom: 3px solid black;
    }

}


@media (min-width: 390px){
.foto-principal{
    width: 23.6rem;
}
.tarjeta{
    width: 17rem;
}
.foto-tarjetas{
    width: 5rem;
    display: block;
    margin: auto;
}



}
