@font-face {
    font-family: Barlow-Condensed;
    src: url(./font/BarlowCondensed-Regular.ttf);
}
/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 0.625em;
} */
body {
    font-family: Barlow-Condensed !important;
    background-color: rgb(38,38,38);
}

header {
    margin-top: 5px;
    font-family: Barlow-Condensed;
    text-align: center;
    padding-right: 12px;
    box-shadow: 0px 5px 5px #888888;
}

header button {
    border: 0px;
    border-radius: 10px;
    width: 100%;
    height: 60%;
    margin-top: 6px;
}

.titleEscape {
    margin-top: 50px;
    text-align: center;
    font-size: 5em;
}

p {
    text-align: center;
    width: 80%;
    margin: auto;
}

.tarjetas{
    background-image: url('/img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color:darkblue;
    padding: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tarjeta{
    width: 30%;
    padding: 1rem;
    background-color: blanchedalmond;


}
.titulo{
    display: flex;
    justify-content: center;
    /* align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    backdrop-filter: blur(10px); */

}
.titulo h2{
    font-size: 1.5em;
    font-weight: bold;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background: linear-gradient(85deg, purple, blue);
    color: white;
    border: 0px;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.327) 0px 4px 12px;
}
.texto{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.foto-tarjetas{
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.nivel{
margin-top: 0.5rem;
}


@media (min-width: 390px){
.foto-principal{
    width: 20rem;
}

.tarjetas{
flex-direction: column;
}

.tarjeta{
    width: 100%;
}
.foto-tarjetas{
    width: 6rem;
    display: block;
    margin: auto;
}
}
