* {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: Barlow-Condensed;
    src: url(./font/BarlowCondensed-Regular.ttf);
}

.centrado-pruebas{
    position: absolute;
    width: 27rem;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    font-weight: bold;
    color: rgb(251, 252, 252 );
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 30px 50px;
}

canvas{
    width: 500px;
    margin: 10px;
}

.respuesta-sopadeletras{
    padding-bottom: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.respuesta{
    height: 1.5rem;
    margin-top: 0.5rem;
    border: solid rgb(160, 160, 160) 1px;
    border-radius: 5px;
    text-align: center;
}