* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Barlow-Condensed;
    src: url(./font/BarlowCondensed-Regular.ttf);
    background-color: rgb(56, 56, 170);
}

.contenedor{
width: 70%;
margin-left: 15%;
background-color: blanchedalmond;
margin-bottom: 3cm;
border-radius: 15px;
}

h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}
canvas{
    width: 500px;
    margin-top: 2rem;
    margin-left: 27%;
    margin-bottom: 1rem;
}
.contenedor-explicacion{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contenedor-respuesta{
    padding-bottom: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.boton{
    width: 10%;
    margin-left: 45%;
}

.btn{
    width: 3cm;
    height: 1cm;
    background-color: rgb(56, 56, 170);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: medium;
}

.respuesta{
    height: 1.5rem;
    margin-top: 0.5rem;
    border: solid rgb(160, 160, 160) 1px;
    border-radius: 5px;
    text-align: center;
}
