.cajaProgesoCandados {
    height: 50px;
    width: 200px;
    display: flex;
}

.cajaProgesoCandados .cajaLetra {
    margin-inline: 2px;
    height: 100%;
    width: 25%;
}

#cajaPruebaCuestionario {
    padding: 10px;
    border-radius: 5px;
    min-height: 300px;
}

#cajaPruebaCuestionario #labelSinRespuesta {
    display: none;
}

#cajaPruebaCuestionario input[type=radio] {
    margin: 5px;
}

#cajaPruebaCuestionario label {
    padding: 5px;
}

#cajaPruebaCuestionario #preguntaCuestionario {
    height: 80px;
}

#animation {
    margin-top: 80px;
    transition: all 3s;
}

#buttonAcabar {
    margin-top: 40px;
    transform: scale(0.4);
    border-radius: 10px;
    padding: 10px;
}